@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");

:root {
  --a: #54e6af;
  --b: #2c344b;
  --c: #121725;
  --d: #ffffff;
  --e: #5a668a;
  --f: #c2cbe5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Chivo", sans-serif;
}

img {
  max-width: 100%;
}
